
<div class="container">
  <form class="w-2/12">
     <div class="mb-3">
          <label for="usuario" class="block mb-2 text-sm font-medium text-gray-900">Usuario</label>
         <input id="usuario" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5"/>
     </div>
     <div class="mb-3">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
          <input id="password" type="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5"/>
     </div>
  </form>
</div>
