
<section class="bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-2/6 bg-gray-700 rounded-lg px-5 py-6">
            <h1 class="text-center font-bold text-4xl text-white">Recuperar Contraseña</h1>
            <div class="my-3 mx-4 text-center">
                <p class="text-white text-xl">
                    Indique la dirección del correo electrónico utilizada para crear la cuenta.
                </p>
            </div>

            <form>
                <div class="mb-5">
                    <label for="email" class="block mb-2 font-medium  text-white text-lg">Email</label>
                    <div class="relative">
                        <input id="email" type="email"
                               placeholder="correo@gmail.com"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                           focus:border-blue-500 block w-full py-3 ps-4 pe-10"/>
                        <button type="button "
                                class="absolute inset-y-0 end-0 flex items-center z-20 px-3">
                            <i class="fa-solid fa-envelope text-gray-400"></i>
                        </button>
                    </div>
                </div>



                <button class=" mb-3 text-white bg-blue-600 hover:bg-blue-800 rounded-2xl px-5 py-3 block w-full text-lg">
                    Enviar
                </button>

            </form>
        </div>
    </div>
</section>
